* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    text-align: center;
    font-family: sans-serif;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, #5EA6D6 0%, #FFFF 100%);
    animation: FadeIn 1.2s ease-in forwards;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Images {
    display: grid;
    grid-template-columns: 1.25fr 1fr 0.7fr;
    grid-template-rows: 330px 330px;
    padding: 18px 36px;
    max-width: 1800px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
}

.Image1 {
    margin: 1px;
    max-width: 700px;
    height: auto;
    position: relative;
    left: 10px;
    border-radius: 20px;
}

.Image2 {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    max-width: 500px;
    height: auto;
    margin: 1px;
    border-radius: 20px;

}

.Image3 {
    position: relative;
    margin: 1px;
    max-width: 200px;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    border-radius: 20px;

}

.Image4 {
    position: relative;
    margin: 1px;
    max-width: 200px;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    left: 300px;
    border-radius: 20px;
}

.Image5 {
   margin: 1px;
    max-width: 700px;
    height: auto;
    position: relative;
    right: 10px;
    border-radius: 20px;
}
